
.tp-rotv_c {
    overflow-y: auto !important;
    max-height: calc(100vh - 2rem);
}
.tp-fldv.tp-fldv-expanded>.tp-fldv_c {
    overflow: visible !important;
}
.tp-sldv_k::after {
    border-radius: 3rem !important;
}
:root {
  --tp-base-background-color: hsla(0, 0%, 100%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.10);
  --tp-button-background-color: hsla(0, 0%, 23%, 1.00);
  --tp-button-background-color-active: hsla(230, 7%, 60%, 1.00);
  --tp-button-background-color-focus: hsla(230, 7%, 65%, 1.00);
  --tp-button-background-color-hover: hsla(0, 0%, 11%, 1.00);
  --tp-button-foreground-color: hsla(230, 0%, 100%, 1.00);
  --tp-container-background-color: hsla(0, 0%, 90%, 1.00);
  --tp-container-background-color-active: hsla(230, 15%, 30%, 0.32);
  --tp-container-background-color-focus: hsla(230, 15%, 30%, 0.28);
  --tp-container-background-color-hover: hsla(0, 0%, 81%, 1.00);
  --tp-container-foreground-color: hsla(0, 0%, 50%, 1.00);
  --tp-groove-foreground-color: hsla(0, 0%, 90%, 0.40);
  --tp-input-background-color: hsla(0, 0%, 90%, 1.00);
  --tp-input-background-color-active: hsla(230, 15%, 30%, 0.22);
  --tp-input-background-color-focus: hsla(230, 15%, 30%, 0.18);
  --tp-input-background-color-hover: hsla(0, 0%, 70%, 1.00);
  --tp-input-foreground-color: hsla(0, 0%, 23%, 1.00);
  --tp-label-foreground-color: hsla(0, 0%, 50%, 1.00);
  --tp-monitor-background-color: hsla(230, 15%, 30%, 0.10);
  --tp-monitor-foreground-color: hsla(0, 0%, 23%, 0.50);
}
.tp-rotv {
    font-family: Manrope, sans-serif !important;
    font-size: 11px !important;
    letter-spacing: 0.5px !important; 
}
.tp-colswv_b {
    border: 1px solid var(--cnt-bg);
    border-width: 0.5px;
    border-radius: 6px;
}
